<div ng-controller="HomeCtrl as hm">
    <h1>Welcome to WeDB</h1>
    
    <md-grid-list md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="1:1" md-gutter="8px" md-gutter-gt-sm="4px" >
        <md-grid-tile ng-repeat="card in cards | orderBy: 'order'" md-rowspan="{{card.row}}" md-colspan="{{card.col}}" md-colspan-sm="1" class="we-card ng-animate ng-enter ng-enter-active" ng-class="card.col > 4 ? 'cLrg': card.cardclass" >
          <div class="we-card-body">
              <div class="cardcollapse">
                  <i class="fa" ng-class="(card.col < 6)?'fa-plus-circle' : 'fa-minus-circle'" ng-click="toggleCard(card)"></i>
              </div>
              <!--small card size-->
              <div class="small-card" ng-if="card.col==2">
                  <h2>small</h2>
              </div>
              <!--medium card size-->
              <div class="medium-card" ng-if="card.col==3">
                  <h2>{{ card.title }}</h2>
              </div>
              <!--large card size-->
              <div class="large-card" ng-if="card.col==6">
                  <div ng-include='"_movie.html"' ng-if="card.type=='movie'" class="cardContainer"></div>
                  <div ng-include='"_cast.html"' ng-if="card.type=='cast'" class="cardContainer"></div>
                  <div ng-include='"_tv.html"' ng-if="card.type=='tv'" class="cardContainer"></div>
                  <div ng-include='"uc.html"' ng-if="card.controller ==''" class="cardContainer"></div>
              </div>
          </div>
        </md-grid-tile>
    </md-grid-list>
</div>