<div ng-controller="TvCtrl" class="lrgCard cast-card">
    <h3>{{pagetitle}}</h3>
    
    <div class="we-row we-search-row" layout="row">
        <!--Search Actor/Actress-->
        <div class="searchMovie" flex="65">
            <!--Search text box-->
            <div class="searchSection">
                <md-input-container class="md-block searchBar" flex-gt-sm>
                    <label>Search for Tv Show Name</label>
                    <input ng-model="searchText">
                </md-input-container>
                <div class="searchBtnGroup">
                    <md-button class="md-fab md-mini" aria-label="Search" ng-click="getMatches(searchText)"><i class="fa fa-search"></i></md-button>
                    <md-button class="md-fab md-mini md-primary" aria-label="Compare" ng-click="compareItems()" ng-show="selectedObjects.length > 1"><i class="fa fa-balance-scale"></i></md-button>
                </div>
            </div>
            
            <!--Cast Results box-->
            <div class="searchResults">
                <div class="itemList" ng-show="showItems">
                    <table>
                        <tr class="item" ng-repeat="item in results.results">
                            <td class="itemImg">
                                <img src="http://image.tmdb.org/t/p/w500{{item.poster_path}}" ng-if="item.poster_path != null ">
                                <div ng-if="item.poster_path == null" class="no-img">NO IMAGE</div>
                            </td>
                            <td class="itemInfo">
                                <div class="itemTitle">{{item.name}}</div>
                                <div class="itemOverview">{{item.overview}}</div>
                            </td>
                            <td class="itemButtons">
                                <md-button class="md-fab md-mini md-primary" aria-label="Info" ng-click="getObjectInfo(item.id)"><i class="fa fa-info"></i></md-button>
                                <md-button class="md-fab md-mini md-primary" aria-label="Add" ng-click="addObject(item)"><i class="fa fa-plus"></i></md-button>
                            </td>
                        </tr>
                    </table>
                    
                    <div><i class="fa fa-arrow-circle-left results-arrow" ng-if="results.page > 1" ng-click="getMatchesByPage(searchText, results.page-1)"></i> <span>Page: {{results.page}} of {{ results.total_pages}}</span> <i class="fa fa-arrow-circle-right results-arrow" ng-if="results.page < results.total_pages" ng-click="getMatchesByPage(searchText, results.page+1)"></i></div>
                </div>
            </div>
        </div>
        
        <!--Selected Actors/Actresses-->
        <div class="selectedMovies" flex="34">
            <!--Selected Cast-->
            <div class="selectedMovies">
                <div class="we-movies-selected" ng-repeat="n in [0,1,2]">
                    <div ng-if="selectedObjects[n]==null" class="no-object">---</div> 
                    <div ng-if="selectedObjects[n]!=null" class="active-object">
                        <span class="removeSelected" ng-click="removeObject(selectedObjects[n])"><i class="fa fa-times-circle"></i></span> <strong>{{selectedObjects[n].name}}</strong>
                    </div>
                </div>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>
    
    
    <div class="we-row we-results-row">
        <!--Compare results-->
        <md-grid-list md-cols-sm="1" md-cols-md="2" md-cols-gt-md="8" md-row-height-gt-md="1:1" md-row-height="1:1" md-gutter="8px" md-gutter-gt-sm="4px" class="compare-tiles" >
            <md-grid-tile ng-repeat="compare in comparedItem" md-rowspan="{{cmpresults.rowspan}}" md-colspan="{{cmpresults.colspan}}" md-colspan-sm="1" class="compare-tile">
                <md-grid-tile-header class="movie-compare-header">
                    <h3>{{compare.tvshow1}} && {{compare.tvshow2}} <span ng-if="compare.cast3 != null">&& {{compare.tvshow3}}</span></h3>
                </md-grid-tile-header>
                <div>
                    <ul class="fa-ul">
                        <li ng-repeat="cast in compare.matchedCast"><i class="fa fa-user"></i> {{cast.name}}</li>
                    </ul>
                </div>
            </md-grid-tile>
        </md-grid-list>
    </div>

</div>