<div ng-controller="MovieCtrl" class="lrgCard movie-card">
    <h3>{{pagetitle}}</h3>
    <div class="we-row">
        <!--Selected Movies-->
        <div class="selectedMovies">
            <md-chips ng-model="selectedObjects">
              <md-chip-template>
                <strong>{{$chip.title}} ({{$chip.release_date | date:'MMM dd, yyyy' }} )</strong>
              </md-chip-template>
            </md-chips>
            <md-button class="md-fab md-mini md-primary" aria-label="Compare" ng-click="compareItems()"><i class="fa fa-balance-scale"></i></md-button>
        </div>
    </div>
    
    <div class="we-row">
        <div class="searchMovie">
            <!--Search text box-->
            <div class="searchSection">
                <md-input-container class="md-block searchBar" flex-gt-sm>
                    <label>Search for Movie Title</label>
                    <input ng-model="searchText">
                </md-input-container>
                <div class="searchBtnGroup">
                    <md-button class="md-fab md-mini md-primary" aria-label="Info"><i class="fa fa-info"></i></md-button>
                    <md-button class="md-fab md-mini md-primary" aria-label="Add" ng-click="addObject()"><i class="fa fa-plus"></i></md-button>
                    <md-button class="md-fab md-mini" aria-label="Search" ng-click="getMatches(searchText)"><i class="fa fa-search"></i></md-button>
                </div>
            </div>
            
            <!--Movie Results box-->
            <div class="searchResults">
                <div class="itemList" ng-show="showItems">
                    <table>
                        <tr class="item" ng-repeat="item in results.results" ng-click="selectObjectMatch(item)">
                            <td class="itemImg">
                                <img src="http://image.tmdb.org/t/p/w500{{item.poster_path}}" ng-if="item.poster_path != null ">
                                <div ng-if="item.poster_path == null" class="no-img">NO IMAGE</div>
                            </td>
                            <td class="itemInfo">
                                <div class="itemTitle">{{item.title}}</div>
                                <div class="itemYear">{{item.release_date | date:'MMM dd, yyyy'}}</div>
                            </td>
                        </tr>
                    </table>
                    <div>Total Pages: {{ results.total_pages}}</div>
                </div>
            </div>
            
        </div>
    </div>
    
    <div class="we-row">
        <!--compare results-->
        <md-grid-list md-cols-sm="1" md-cols-md="2" md-cols-gt-md="8" md-row-height-gt-md="1:1" md-row-height="1:1" md-gutter="8px" md-gutter-gt-sm="4px" class="compare-tiles" >
            <md-grid-tile ng-repeat="compare in comparedItem" md-rowspan="{{cmpresults.rowspan}}" md-colspan="{{cmpresults.colspan}}" md-colspan-sm="1" class="compare-tile">
                <md-grid-tile-header>
                    <h3>{{compare.movie1}} && {{compare.movie2}}</h3>
                </md-grid-tile-header>
                <div>
                    <ul>
                        <li ng-repeat="cast in compare.matchedCast">{{cast.name}} ({{cast.id}})</li>
                    </ul>
                </div>
            </md-grid-tile>
        </md-grid-list>
    </div>
</div>