// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**/

.searchSection {
  width: 100%;
}

.searchSection md-input-container, .searchSection div {
  display: inline-block;
}
.searchSection md-input-container {
  width: 60%;
}
.searchSection md-input-container input {
  width: 100%;
}

/*Results*/
.itemList .item .itemImg, .itemList .item .itemInfo {
  display: inline-block;
}

.itemList .item .itemImg img{
  height: 200px;
}

.item {
  cursor: pointer;
}