.cardcollapse {
    display:block;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 2px 5px 2px 5px;
    cursor: pointer;
    background: rgba(204,204,204,0.7);
    z-index: 2;
}
.large-card, .cardContainer, .lrgCard {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.lrgCard div {
    display: inline-block;
    max-height: 230px;
}
.lrg-card-tile-body, .lrg-card-tile-body div {
    width: 100%;
}

// Movie Card
.we-row {
    display: block;
    width: 100%;
}
.searchMovie {  
    width: 100%;
    position: absolute;
    top: 0px;
}
.selectedMovies { 
    width: 100%; 
    position: absolute;
    top: 0px;
    right: 0px; 
}

.searchMovie .searchBtnGroup, .searchMovie .searchBar {
    display: inline-block;
}

.lrgCard .searchMovie .searchSection md-input-container label {
    color: rgba(0,0,0,1);
}

.lrgCard .searchMovie .searchSection md-input-container .md-input {
    color: rgba(0,0,0,1);
}

.searchResults {
    width: 80%;
}
.searchResults .itemList {
    background: rgba(255,255,255,0.7);
    z-index: 2;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.searchResults .itemList table {
    width: 100%;
}
.searchResults .itemList table .item {
    padding: 3px 0px 3px 0px;
    cursor: pointer;
}
.searchResults .itemList table .item:hover {
    background: rgba(0,0,0,0.8);
    color: rgba(255,255,255,0.8);
}

.searchResults .itemList table .item .itemImg img{
    height: 100px;
    width: 63px;
}
.no-img {
    height: 100px;
    width: 63px;
    background: rgba(0,0,0,1);
    color: rgba(255,0,0,0.9);
}
.results-arrow {
    cursor: pointer;
}
.searchResults .itemList table .item .itemInfo div {
    display: block;
}
.itemInfo { 
    width: 65%;
}
.itemButtons {
    display: inline-block;    
}

.compare-tile {
    background: rgba(255,255,255,1);
    color: rgba(0,0,0,1);
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
.compare-tile figure div {
    display: block;
    width: 100%;
}

.we-movies-selected{
    display: block;
    width: 100%;
}
.we-movies-selected + .we-movies-selected {
    margin-top: 5px;
}

.no-object {
    padding: 10px;
	text-align: center;
	border: 3px dashed #000000;
	width: 80%;
}

.active-object {
    border: 2px solid #000000;
    border-radius: 25px 0px 0px 25px;
    padding: 10px;
}

.we-search-row {
    position: relative;
    height:100%;
}
.removeSelected {
    cursor: pointer;
    color: #ccc;
}
