// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Variables
// Colors
$blue: rgba(0,0,255,0.7);
$red: rgba(255,0,0,0.7);
$green: rgba(0,153,0,0.7);
$orange: rgba(255,102,0,0.7);
$grey: rgba(204,204,204,0.7);


/**/
.c1 { background: $blue; }
.c2 { background: $red; }
.c3 { background: $green; }
.c4 { background: $orange; }

.cLrg { background: $grey; }

.we-card {
    transition:0.5s linear all;
}

.fade.ng-enter {
    transition:0.5s linear all;
    opacity:0;
}
.fade.ng-enter.ng-enter-active {
  opacity:1;
}

.we-card-body {
    width: 100%;
    height: 100%;
    padding: 3px;
}
